table {
	border: 10px double black;
}
td:hover {
	background-color: yellow;
	color: black;
}
tr, th {
	background-color: aliceblue;
	color: darkblue;
}
tr, td {
	background-color: cadetblue;
	color: black;
}