html {
    font-family: freestyle script; font-size: 100%;
    text-align: center;
}
p {
    font-family: cursive; font-size: large;
    text-align: center;
}

body {
    width: 1500px;
    border: 10px double green;
    border-radius: 25px;
    padding: 50px 1.5em;
    padding-bottom: 50px;
}

img {
    width: 1200px;
    border: 10px double green;
    border-radius: 25px;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

iframe {
    border: 10px double green;
    border-radius: 25px;
}